.button__outlined {
  display: flex;
  align-items: center;
  font-size: var(--font-size-13);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  color: var(--color-button);
  gap: 10px;
  transition: 0.3s linear;
}
.button__outlined--dark {
  --color-button: var(--color-primary);
}
.button__outlined--light {
  --color-button: var(--color-white);
}
.button__outlined--secondary {
  --color-button: var(--color-secondary);
}
.button__outlined--icon::after {
  content: "";
  display: inline-block;
  background-image: var();
  background-repeat: no-repeat;
  background-size: contain;
  block-size: 15px;
  inline-size: 20px;
}
.button__outlined--icon-left {
  flex-direction: row-reverse;
}
.button__outlined--icon:hover {
  cursor: pointer;
}
.search:hover svg {
  transform: scale(1.5);
  filter: drop-shadow(0 0 5px #ffffff);
}
.twitter:hover svg {
  fill: rgb(#1da1f2);
  transform: scale(1.5);
  filter: drop-shadow(0 0 5px #1da1f2);
}
.facebook:hover svg {
  fill: #3b5998;
  transform: scale(1.5);
  filter: drop-shadow(0 0 5px #3b5998);
}
.instagram:hover svg {
  fill: #d43089;
  transform: scale(1.5);
  filter: drop-shadow(0 0 5px #d43089);
}
.youtube:hover svg {
  fill: rgb(255, 0, 0);
  transform: scale(1.5);
  filter: drop-shadow(0 0 5px rgb(255, 0, 0));
}
