.filmpage-fixedpanel {
  position: sticky;
  width: 250px;
  top: 5%;
  margin-bottom:20px;
  margin-top:20px;
}
.filmpage-fixedpanel-data {
  display: flex;
  flex-direction: column;
}
.filmpage-fixedpanel img {
  box-shadow: 0 0 5px;
  margin-top: 20px;
}
.filmpage-fixedpanel-button {
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;

}

.filmpage-fixedpanel-button .button-watch {
  background-color: var(--color-secondary);
  padding: 10px;
  border-radius: 4px;
  width: 120px;
  transition: 0.3s linear;
  box-shadow: 0 0 10px #1a1d24;
}
.filmpage-fixedpanel-button .button-watch::before {
  content: "▶";
  margin-right: 5px;
}

.filmpage-fixedpanel-button .button-share {
  background-color: var(--color-terciary);
  padding: 10px;
  width: 120px;
  transition: 0.3s linear;
  border-radius: 4px;
  box-shadow: 0 0 10px #1a1d24;
}

.filmpage-fixedpanel-button .button-share::before {
  content: "➥";
  margin-right: 5px;
}
.filmpage-fixedpanel-button .button-share:hover,
.filmpage-fixedpanel-button .button-watch:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #1a1d24;
}

.filmpage-fixedpanel ul {
  color: var(--color-grey-5);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  gap: 20px;
  display: flex;
  align-items:start ;
}

.filmpage-fixedpanel ul il{
  transition: 0.3s linear;
}

.filmpage-fixedpanel ul il:hover{
  cursor: pointer;
  color: var(--color-grey-3);
}

.filmpage-fixedpanel ul il::after {
  content: "➜";
  margin-left: 5px;
  color: var(--color-secondary);
}

.filmpage-fixedpanel .divisor {
display: flex;
}

.filmpage-fixedpanel .divisor::before {
  content: "";
  height: 1px;
  width:250px;;
  background-color: var(--color-grey-3);
}
