* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin-inline: auto;
  background-color: var(--color-primary);
  font-family: var(--font-family-primary);
}
main {
  background-color: var(--color-grey-1);
}
.layout-box {
  max-inline-size: 1280px;
  margin-inline: auto;
}
.background-dark {
  background-color: var(--color-primary);
}
.back-top {
  position: fixed;
  bottom: 3%;
  right: 2%;
  padding: 0.2rem;
  background: var(--color-primary);
  border-radius: 50%;
  box-shadow: 0 0 5px;
  transition: all 0.2s;
  & svg {
    width: 3rem;
    height: 3rem;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
.fixed-nav {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: fixed;
  right: 0;
  top: 50%;
  gap: 5px;
 & .cart {
    height: 60px;
    width: 60px;
    background-color: var(--color-secondary);
    box-shadow: 0 0 5px;
    padding: 5px;
    transition: linear 0.25s;
  }
  & .photo {
    height: 60px;
    width: 60px;
    background-color: var(--color-secondary);
    box-shadow: 0 0 5px;
    padding: 5px;
    transition: linear 0.25s;
  }
  & .panel {
    height: 60px;
    width: 60px;
    background-color: var(--color-secondary);
    box-shadow: 0 0 5px;
    padding: 5px;
    transition: linear 0.25s;
  }
  & svg {
    display: flex;
    height: 40px;
    width: 48px;
  }
  & .cart:hover,
  .photo:hover,
  .panel:hover {
    cursor: pointer;
    width: 68px;
  }
}
.filmpage-body{
  position:relative;
}