.background-red {
  background-color: var(--color-secondary);
}
.opinions {
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  margin: auto;
  & img {
    margin: auto;
    display: flex;
    border-radius: 50%;
  }
  & .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(350px * 8);
  }
  & .opinion-data {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  & .opinion-data svg {
    width: 34px;
    height: 34px;
  }
  & .quote {
    width: 350px;
    display: flex;
    justify-content: center;
    font-size: var(--font-size-20);
    font-family: serif;
    color: var(--color-white);
    text-align: center;
    margin: auto;
  }
  & .name {
    font-size: var(--font-size-13);
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
    text-align: center;
    margin-top: 30px;
  }
  & .job {
    font-size: var(--font-size-12);
    color: var(--color-white);
    text-align: center;
    margin-top: 10px;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-350px * 4));
  }
}

/* TEXTO DEL BLOG */
.blog {
  background-color: var(--color-white);
  padding-block: 120px;
}
.blog h2 {
  text-transform: uppercase;
  font-size: var(--font-size-37);
  font-weight: var(--font-weight-bold);
}
.blog .divisor {
  display: flex;
  padding-top: 120px;
  padding-bottom: 40px;
}
.blog .divisor::before {
  content: "";
  background-color: var(--color-secondary);
  height: 1px;
  width: 50px;
}
.blog p {
  font-size: var(--font-size-16);
  font-family: serif;
  color: var(--color-grey-4);
  margin-top: 10px;
}

/* GRID DE ARTICULOS */
.grid {
  display: grid;
  grid-template-columns: 1fr repeat(2, 0.5fr);
  grid-template-rows: repeat(2, 270px);
  gap: 25px;
  padding-top: 42px;
}
.grid .article-blog .article-info svg {
  height: 14px;
  width: 16px;
  margin: 0 20px;
  transition: 0.3s linear;
}
.grid .article-blog .article-info svg:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 5px #ffffff);
  transform: scale(1.1);
}
.grid .article-blog .article-section {
  color: var(--color-terciary);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-11);
}
.grid .article-blog time {
  font-size: var(--font-size-11);
  color: var(--color-grey-2);
}
.grid .article-blog:first-child .article-info {
  height: 225px;
  width: 100%;
  padding: 35px;
}
.grid .article-blog:first-child .tittle {
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-37);
  display: block;
  margin: 20px 0;
}
.grid .article-blog:nth-child(2) .article-info,
.grid .article-blog:nth-child(3) .article-info {
  height: 155px;
  width: 100%;
  padding: 15px;
}
.grid .article-blog:nth-child(2) .tittle,
.grid .article-blog:nth-child(3) .tittle {
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-17);
  display: block;
  margin: 20px 0;
}
.grid .article-blog:last-child .article-info {
  height: 195px;
  width: 100%;
  padding: 32px;
}
.grid .article-blog:last-child .tittle {
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-24);
  display: block;
  margin: 20px 0;
}
.grid .article-blog:first-child {
  grid-row: 1 / 3;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/images/post-3-copyright-1170x658.jpg);
  background-size: cover;
}
.grid .article-blog:nth-child(2) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/images/post-12-copyright-760x428.jpg);
  background-size: cover;
}
.grid .article-blog:nth-child(3) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/images/post-5-copyright-760x428.jpg);
  background-size: cover;
}
.grid .article-blog:last-child {
  grid-column: span 2;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/images/post-6-copyright-760x428.jpg);
  background-size: cover;
}
.article-blog {
  display: grid;
  place-items: end start;
  background-position: center;
}
.button{
  width: 100%;
  padding: 50px 0 0;
  display: flex;
  justify-content: center;
}
.button .more-news {
  background-color: var(--color-secondary);
  padding: 16px 39px;
  border-radius: 4px;
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  transition: 0.3s linear;
}
.button .more-news:hover{
cursor: pointer;
transform: scale(1.1);
background-color:#1a1d24;
}
