
/* INFORMACION DE LA PELICULA */
.filmpage-data {
  margin-left: 20%;
  margin-top:-53.4%;
}
.filmpage-data .filmpage-info {
  display: flex;
  justify-content: center;
}

.filmpage-data .filmpage-info .film-sipnosis {
  font-size: var(--font-size-20);
  text-transform: initial;
  margin-bottom: 10px;
}

.filmpage-data .filmpage-info .filminformation {
  margin: 0 15px 15px 15px;
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.filmpage-data .filmpage-info .filminformation li{
  margin-bottom: 15px;
  font-weight: var(--font-weight-bold);
  color: var(--color-grey-4);
}
.filmpage-data .filmpage-info .filminformation li p, .filmpage-data .filmpage-info a{
  font-weight:100;
  color: var(--color-grey-3);
  transition: 0.3s linear;
}
.filmpage-data .filmpage-info a:not(:last-child):after{
  content: ",";
}
.filmpage-data .filmpage-info a:hover{
  font-weight: var(--font-weight-bold);
  color: var(--color-grey-4);
  cursor: pointer;
}

.awards h2{
text-transform: uppercase;
margin-bottom: 10px;
font-size: var(--font-size-24);
font-weight: var(--font-weight-bold);
}

.awards span{
  display: flex;
  margin-bottom:10px ;
}
.awards span::before{
  content: "";
  background-color: var(--color-secondary);
  width: 50px;
  height: 1px;
  margin: 15px 0 15px 0;
}