.footer {
  display: flex;
  justify-content: space-between;
  height: 450px;
  margin-block-start: 75px;
  margin-block-end: 75px;
  & .filmax-data p,
  .filmax-data a {
    color: var(--color-grey-3);
    font-size: var(--font-size-14);
    font-family: serif;
    display: flex;
  }
  & .footer-links {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
  }
  & .nav-movies ul,
  .nav-links ul {
    display: flex;
    flex-direction: column;
  }
  & .nav-movies il,
  .nav-links il {
    display: flex;
    flex-direction: column;
    color: var(--color-grey-4);
    font-size: var(--font-size-14);
    font-family: serif;
    padding-top: 30px;
    font-weight: var(--font-weight-bold);
    transition: 0.3s linear;
  }
  & h2 {
    color: var(--color-white);
    font-size: var(--font-size-17);
    font-weight: var(--font-weight-bold);
    display: flex;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
    padding-top: 50px;
  }
  & h2::after {
    content: "";
    height: 1px;
    width: 40px;
    background-color: var(--color-secondary);
  }
  & il:hover {
    cursor: pointer;
    color: var(--color-white);
  }
  & img {
    padding-top: 50px;
    padding-bottom: 25px;
  }
}
.newsletter {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 43px;
}
.newsletter-form {
  width: 100%;
  font-size: var(--font-size-14);
  padding-top: 20px;
  text-transform: uppercase;
  transition: 0.3s linear;
  &::after {
    content: "➜";
    color: var(--color-white);
    font-size: var(--font-size-14);
  }
  &:hover::after {
    cursor: pointer;
    color: var(--color-secondary);
  }
  & input {
    color: var(--color-white);
    font-size: var(--font-size-14);
    text-transform: none;
    border-bottom: 2px solid var(--color-grey-5);
    letter-spacing: 2.2px;
    padding: 15px 0;
    transition: 0.3s linear;
  }
  & input:focus {
    border-bottom: 2px solid var(--color-white);
  }
  & input::placeholder {
    text-transform: uppercase;
  }
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  & .footer-twitter svg,
  .footer-facebook svg,
  .footer-instagram svg,
  .footer-youtube svg {
    fill: var(--color-white);
    padding: 5px;
  }
  & .footer-twitter,
  .footer-facebook,
  .footer-instagram,
  .footer-youtube {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}
.footer-twitter{
  background-color: #1DA1F2;
  transition: 0.3s linear;
}
.footer-facebook{
  background-color: #3b5998;
  transition: 0.3s linear;
}
.footer-instagram{
  background-color: #D43089;
  transition: 0.3s linear;
}
.footer-youtube{
  background-color: #ff0000;
  transition: 0.3s linear;
}
.footer-twitter:hover,
  .footer-facebook:HOVER,
  .footer-instagram:hover,
  .footer-youtube:hover {
    opacity: 50%;
    transform: scale(0.9);
  }